table {
  width: 70%;
  text-align: left;
}

/* Modal container styling */
.modal {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 50px auto;
}

/* Modal header */
.modal-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-confirm {
  background-color: #28a745;
  color: #fff;
}

.btn-confirm:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #dc3545;
  color: #fff;
}

.btn-cancel:hover {
  background-color: #c82333;
}
.tableimage {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.modal_container {
  width: 40%;
}
.btn-create {
  background-color: var(--color-create);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 4px 15px;
}
.modal_section {
  color: black;
}
