.comment_section{
    display: flex;
    gap: 24px;

}
.comments_right{
    padding-top: 24px;
    padding-right: 116px;
    flex: 1;
}
.comments_modal{
    background-color: var(--formBgColor);
    padding: 50px 30px;
    border-radius: 24px;
}


/* Modal container styling */
.modal {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 100px auto;
  }
  
  /* Modal header */
  .modal-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-confirm {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-confirm:hover {
    background-color: #218838;
  }
  
  .btn-cancel {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-cancel:hover {
    background-color: #c82333;
  }
  
.page-button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.page-button.active {
  background-color: #009879;
  color: white;
}

.pagination-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#prev,
#next {
  width: 100px;
  border: 1px solid #007bff;
  background-color: #ffffff;
  color: #007bff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 35px; /* Digər rəqəmli düymələrlə eyni hündürlük */
  min-width: 35px; /* Eyni ölçüdə uyğun düymə üçün */
  display: flex;
  align-items: center;
  justify-content: center;
}

#prev:hover,
#next:hover {
  background-color: #007bff;
  color: #ffffff;
}