.left_panel {
  background-color: var(--LightBlackColor);
  width: 256px;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;
}
.nav_itemhead {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
  padding-left: 34px;
}
.logoimagehead {
  width: 40px;
  height: 40px;
}
.nav_linkhead {
  font-size: 20px;
  font-weight: 400;
  font-family:var(--RalewayFont);
  color: var(--WhiteGreyColor);
  line-height: 80px;
}
.nav_item {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-left: 47px;
  height: 55px;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.nav_item:hover {
  background-color: var(--PurpleColor);
  height: 55px;
}
.logoimage {
  width: 15px;
  height: 15px;
}
.nav_link {
  font-family: var(--RalewayFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  color: var(--textlightgreyColor);
}
.nav_itemfut {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-left: 47px;
}
.logoimagefut {
  width: 15px;
  height: 15px;
}
.nav_linkfut {
  font-family: var(--Raleway);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  color: var(--PurpleColor);
}

/* Dashboard right side */
.container {
  display: flex;
}
.ringt_panelhead {
  display: flex;
  justify-content: space-between;

  padding-top: 36px;
}
.adminheadtext p {
  color: var(--textlightgreyColor2);
  font-size: 13px;

  font-weight: 500;
  line-height: 15.26px;
  font-family: var(--Raleway);
}
.adminheadtext span {
  color: var(--WhiteColor);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: var(--Raleway);
}
.adminphoto {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 6px;
  color: var(--WhiteColor);
  font-family: var(--Raleway);
  padding-right: 116px;
}
.right_panel {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  width: calc(100% - 256px);
  background-color: var(--BacgrounColorBlack);
}
.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 79px;
}
.cardbig {
  background-color: var(--lightBlackColor2);
  border-radius: 30px;
  width: 288px;
  height: 203px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 24px;
  gap: 8px;
  color: var(--textlightgreyColor2);
  font-size: 15px;
  font-weight: 500;
  line-height: 17.61px;
  font-family: var(--Raleway);
}
.card {
  background-color: var(--lightBlackColor2);
  border-radius: 30px;
  width: 234px;
  height: 203px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 24px;
  gap: 8px;
  color: var(--textlightgreyColor2);
}
.cardpurple {
  background-color: var(--PurpleColor);
  border-radius: 30px;
  width: 234px;
  height: 203px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-left: 24px;
  gap: 8px;
  color: var(--WhiteColor);
}
.quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.61px;
}
.number {
  font-size: 30px;
  font-weight: 600;
  line-height: 36.31px;
}
