.movies_main_container {
  display: flex;
  gap: 24px;
}
.sideBar {
  position: fixed;
}

.movies_right {
  padding-top: 24px;
  padding-right: 116px;
  flex: 1;
  padding-left: 295px;
}
.movies_right_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}
.right_top_left h6 {
  font-family: var(--RalewayFont);
  font-size: 13px;
  font-weight: 500;
  line-height: 15.26px;
  color: var(--WhiteGreyColor);
}
.right_top_left p {
  font-family: var(--RalewayFont);
  font-size: 20px;
  font-weight: 500;
  line-height: 23.48px;
  color: var(--WhiteColor);
}
.right_top_right {
  display: flex;
  align-items: center;
  gap: 28px;
}
.create_btn {
  padding: 8px 25px;
  background-color: var(--PurpleColor);
  border-radius: 4px;
  font-family: var(--RobotoFont);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: var(--WhiteColor);
  cursor: pointer;
}
.admin_image {
  display: flex;
  align-items: center;
  gap: 5px;
}
.admin_image span {
  font-family: var(--RalewayFont);
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  color: var(--WhiteColor);
}
table {
  width: 100%;
  text-align: center;
  border-radius: 4px !important;
}
thead {
  background-color: var(--LightBlackColor);
  color: var(--WhiteColor);
}
table tr th {
  padding: 16px;
  text-align: center;
  font-family: var( --RobotoFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.01em;
}
table tr td {
  padding: 16px;
  text-align: center;
  font-family: var( --RobotoFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.01em;
  color: var(--BacgrounColorBlack);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
table tr:last-child th:first-child {
  border-top-left-radius: 4px;
}
table tr:last-child th:last-child {
  border-top-right-radius: 4px;
}
tbody tr {
  background-color: var(--WhiteColor);
  color: var();
}
.table_creat_btn {
  color: var(--color-create);
  cursor: pointer;
}
.table_delete_btn {
  color: var(--color-delete);
  cursor: pointer;
}
.table_title {
  display: flex;
  align-items: center;
  gap: 15.5px;
}
.table_image {
  width: 30px;
  /* border-radius: 50%; */
}
/* MODAL CSS START */
.modal_section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 118px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 10px;
}
.active {
  display: flex;
}
.owarlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: crosshair;
}
.modal_container {
  z-index: 999;
  display: flex;
  gap: 84px;
}
.modal_form {
  display: flex;
  gap: 84px;
  background-color: var(--formBgColor);
  padding: 50px 30px 118px;
  border-radius: 24px;
}
.form_input {
  border: 1px solid var(--inputBorderColor);
  width: 550px;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.form_area {
  width: 550px;
  height: 121px;
  border: 1px solid var(--inputBorderColor);
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 20px;
}
::placeholder {
  color: var(--inputBorderColor);
  font-family: var(--PopinsFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

select {
  width: 100%;
  color: var(--inputBorderColor) !important;
  cursor: pointer;
}
.form_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
}
.form_bottom_checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.form_bottom_checkBox input {
  cursor: pointer;
}
.form_bottom_checkBox label {
  font-family: var(--PopinsFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--inputBorderColor);
}
.submit_btn {
  font-family: var(--RobotoFont);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  padding: 8px 23px;
  background-color: var(--PurpleColor);
  cursor: pointer;
  border-radius: 4px;
}
.modal_image {
  width: 203px;
  height: 283px;
}
/* MODAL CSS END */

.multiseletc-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  border: 1px solid var(--inputBorderColor);
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  color: var(--inputBorderColor) !important;
}
.multiseletc-dropdown .fa-chevron-down {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.multiseletc-dropdown .selectedlis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.multiseletc-dropdown .selectedlis-container span {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-size: 16px;
}
.multiseletc-dropdown .menu {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid var(--inputBorderColor);
  border-radius: 5px;
  bottom: -150px;
  left: 0;
  background-color: var( --mainbackgroundColorBlack);
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}
.multiseletc-dropdown .menu li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
.multiseletc-dropdown .menu li:hover {
  /* background-color: #e0e0e0; */
}
.multiseletc-dropdown .menu li.active {
  background-color: #ccc;
}
.multiseletc-dropdown .menu li.active i {
  display: inline-block;
}
.multiseletc-dropdown .menu li i {
  display: none;
  margin-right: 5px;
}
.multiseletc-dropdown .menu li i.fa-check {
  color: green;
}







table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: var(--mainbackgroundColorBlack);
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}





tbody tr:hover {
  background-color: #f1f1f1;
}

.table_creat_btn, .table_delete_btn {
  cursor: pointer;
}

.table_creat_btn:hover:hover {
  color: #006f5f;
}

.table_image {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.selectedlis-container span{
  position: relative;
}

.delete-btn{
  position: absolute;
  top: -5px;
  right: -27px;
  cursor: pointer;
}