body {
  background-color: rgb(29, 29, 30);
}
/* .left_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  padding: 40px 4px 40px 0px;
  background-color: var(  --LightBlackColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  box-shadow: var(  --LightBlackColor) 0px 22px 70px 4px;
  z-index: 999;
} */
.logo {
  width: 56px;
  cursor: pointer;
}
.aside_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.detailed_container {
  display: flex;
  height: 100vh;
  position: relative;
}
.lostinspace {
  position: absolute;
  background-color: var(--backgreycolor);
  color: white;
  padding: 15px 25px;
  font-size: 24px;
  width: 43%;
  height: 20%;
  bottom: -50px;
  left: 10%;
  border-radius: 24px;
  backdrop-filter: blur(24px);
  box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.txt1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--greycolor);
}
.txt2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: var(--textwhitecolor3);
}
.rightpanel {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  /* background-size: contain; */
}

.container2 {
  display: flex;
  margin-top: 121px;
  margin-left: 80px;
  font-family: var(--PopinsFont);
  margin-bottom: 122px;
}
.lostinspimage {
  border-radius: 24px;
  object-fit: cover;
  width: 37%;
  height: 668px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}
.image1 {
  /* position: relative; */
  height: 100%;
  cursor: pointer;
  object-position: center;
  object-fit: fill;
  border-radius: 24px;
}

.hoverplaybtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.lostinspimage:hover .hoverplaybtn {
  opacity: 1;
  cursor: pointer;
}
.lostspaseinfo {
  width: 63%;
  padding-left: 72px;
  padding-right: 72px;
}
.texthead {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: var(--textwhitecolor3);
}

.watclinkbtn {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--textyellowcolor);
  border-radius: 8px;
  background-color: var(--buttonbackblackcolor);
  margin-left: 20px;
  padding: 4px 8px;
}
.plus {
  padding-left: 110px;
}
.addfavbtn.activefav {
  color: rgb(239, 8, 8);
}
.addfavbtn {
  cursor: pointer;
  color: #fff;
}
.textbody1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: var(--textblackcolor4);
  width: 100%;
  padding-bottom: 24px;
}
.adfavbtn {
  display: flex;
  color: var(--textyellowcolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--buttonbackblackcolor);
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 12px;
  gap: 4px;
  margin-bottom: 24px;
}
table {
  width: 100%;
  text-align: center;
}
table tr th {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--textgreycolor);
}
table tr td {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--WhiteGreyColor);
}
.genres h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--textgreycolor);
  padding-bottom: 8px;
}
.genres p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--WhiteGreyColor);
  padding-bottom: 27px;
}
.topcastext {
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  color: var(--WhiteColor);
  margin-bottom: 23px;
}

.top_cast {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.topcastext1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--WhiteColor);
  padding-bottom: 2px;
}
.topcastext2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--WhiteColor);
}
.commentare {
  margin-left: 80px;
  align-items: center;
  display: flex;
  margin-bottom: 85px;
  position: relative;
  text-align: center;
  transform: translateY(-50%);
  padding-left: 10px;
}
.commentare img {
  position: absolute;
  padding-left: 10px;
}
.commentinput {
  padding-left: 60px;
  height: 64px;
  width: 60%;
  border: 1px solid var(--inputBorderColor);
  margin-right: 22px;
  border-radius: 12px;
  color: var(--WhiteColor);
}
.addcombtn {
  display: inline-flex;
  padding: 10px;

  align-items: center;
  justify-content: center;
  margin-left: 22px;
  cursor: pointer;
}
.addedcomment {
  font-family: var(--RubikFont);
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-height: 310px;
  overflow: auto;
  border-radius: 8px;
  border: 2px solid var(--PlaceholderColor);
  margin-bottom: 20%;
  padding: 20px 25px;
  color: var(--WhiteGreyColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.comhead {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.comheadlogo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  gap: 12px;
}
.comtext {
  padding-left: 10%;
  margin-bottom: 30px;
}
/* SWEIPER CSS START */
.category_title {
  margin-top: 28px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: var(--WhiteColor);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
.category_title h2 {
  font-family: var(--RobotoFont);
  font-size: 35px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.swiper_card {
  position: relative;
}
.swiper_card_content {
  position: absolute;
  bottom: 0;
  left: 24px;
}
.swiper_card_content .swiper_content_top {
  margin-bottom: 20px;
}
.swiper_card_content h3 {
  width: 244px;
  margin-bottom: 24px;
  font-family: var(--RobotoFont);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--WhiteColor);
}
.swiper_content_top {
  width: 111px;
  height: 24px;
  background: rgba(29, 29, 29, 0.5);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  font-family: var(--RobotoFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(15, 239, 253, 1);
}
.swiper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper_image img {
  width: 100%;
  height: 100vh;
}

.swiper-pagination-bullet-active {
  background-color: var(--WhiteColor) !important;
}

.similarswiper > .swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 20% !important;
  object-fit: cover !important;
}
/* SWEIPER CSS END */
.swiper-wrapper {
  display: flex;
}

.top_cast .swiper {
  width: 800px;
}

.top_cast .swiper-slide {
  height: 300px;
  background: transparent;
  line-height: 300px;
  text-align: center;
}
/* //iframe start */
/* Iframe görünüşü üçün tənzimləmə */
.youtube-iframe {
  position: fixed;
  width: 60%; /* Iframe genişliyi */
  height: 70%; /* Iframe hündürlüyü */
  z-index: 1000;
  border: none;
  background: #000;
  display: none; /* Başlanğıcda gizli */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* İframe üçün kölgə */
}

/* Şəffaf overlay fon */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none; /* Başlanğıcda gizli */
}

/* Iframe-in səhifədə mərkəzləşdirilməsi */
.youtube-iframe.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fragman_link {
  display: none;
}
.not_similar {
  color: #9058d8;
  font-size: 32px;
  font-weight: 500;
  margin-left: 41px;
}
.not_comment {
  color: #9058d8;
  font-size: 24px;
  font-weight: 500;
  /* margin-left: 10px; */
}

@media (max-width: 575px) {
  .detailed_container {
    display: none;
  }
  .container2 {
    flex-direction: column;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
  }
  .lostinspimage {
    width: 100%;
  }
  .lostspaseinfo {
    width: 100%;
    padding: 0px;
    padding-left: 10px;
  }
  .texthead_anchor {
    display: none;
  }
  .plus {
    padding-left: 0px;
  }
  .fragman_link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    background-color: #ff5733;
    color: var(--WhiteColor);
    border-radius: 12px;
    padding: 6px 10px;
  }
  .watclinkbtn {
    padding: 10px 0px;
    margin-left: 0px;
  }
  .watclinkbtn a {
    display: inline-block;
    background-color: #ff5733;
    color: var(--WhiteColor);
    padding: 6px 10px;
    margin-right: 15px;
    border-radius: 12px;
    font-size: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    height: 40px;
  }
  .textbody1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: var(--textblackcolor4);
    width: 92%;
  }
  table tr td {
    padding-bottom: 12px;
    font-size: 16px;
  }
  .genres p {
    font-size: 16px;
  }
  .commentare {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .commentare img {
    width: 50px;
  }
  .commentinput {
    width: 80%;
    margin-right: 0px;
    height: 49px;
  }
  .detail_section {
    padding-left: 40px !important;
  }
  .hoverplaybtn {
    display: none;
  }
  .addedcomment {
    width: 95%;
    margin: 0 auto;
    /* margin-left: 0px; */
    font-size: 12px;
  }
}
