.swiper_card{
    height: 582px;
}
.swiper_card img{
    height: 582px;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 575px){
    .favoritesSection{
        padding-left: 20px !important;
        padding-top: 0px !important;
    }
}