/* LOGIN FORM START*/
.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.login_logo {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  /* align-items: center; */
}
.form_title {
  color: var(--WhiteGreyColor);
  font-family: var(--NumansFont);
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: center;
}
.form_title span {
  display: block;
  font-family: var(--PopinsFont);
  font-size: 33px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
}
.input_div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 18px;
  border: 1px solid var(--inputBorderColor);
  margin-bottom: 16px;
  border-radius: 12px;
  width: 100%;
}
.input_div input {
  width: 546px;
  color: var(--inputBorderColor);
}
.eyeIcon {
  cursor: pointer;
}
input::placeholder {
  font-family: var(--PopinsFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--inputBorderColor);
}
form a,
.regiset_link {
  color: var(--inputBorderColor);
  font-family: var(--PopinsFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration-line: underline;
}
.submit_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--PurpleColor);
  padding: 16px 0;
  margin-top: 40px;
  border-radius: 12px;
  color: var(--WhiteColor);
  cursor: pointer;
}
/* LOGIN FORM END*/

.success-message {
  color: #2e7d32;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  /* margin: 10px 0; */
  text-align: start;
}

.error-message {
  color: #ff4d4d;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  /* margin: 10px 0; */
  text-align: start;
}
@media (max-width: 575px) {
  .input_div input {
    width: 100%;
  }
  .input_div {
    padding: 8px 12px;
  }
  .form_title {
    font-size: 32px;
    line-height: 40px;
  }
  .form_title span {
    font-size: 24px;
  }
  .submit_btn {
    padding: 12px 0;
    margin-top: 20px;
  }
}
