
aside{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 40px 4px 40px 0px;
    background-color: var(  --LightBlackColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    box-shadow: var(  --LightBlackColor) 0px 22px 70px 4px;
    z-index: 999;
}

.logo {
  width: 56px;
  cursor: pointer;
}
.aside_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}



.loadFalse{
  visibility: hidden;
 }
 
 /* Loading konteyneri */
 #loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0); /* Qaranlıq yarı şəffaf fon */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;/* Əsasda gizli vəziyyətdə olacaq */
   transition: opacity 0.3s ease; /* Gözəl görünən açılış/bağlanış effekti */
   z-index: 99999999999999999;
 }
 
 #loading.active {
   visibility: visible;
   opacity: 1; /* Aktiv olduqda görünən vəziyyətə keçir */
 }
 
 /* Spinner dizaynı */
 .spinner {
   width: 60px;
   height: 60px;
   border: 6px solid rgba(255, 255, 255, 0.3); /* Yarı şəffaf ağ çərçivə */
   border-top: 6px solid #ffffff; /* Tam ağ çərçivə */
   border-radius: 50%; /* Dairə formasında */
   animation: spin 1s linear infinite; /* Fırlanma animasiyası */
   box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); /* Gözəl işıq effekti */
 }
 
 /* Spinner animasiyası */
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
 /* Ekstra loading effekti: Yazı (optional) */
 .loading-text {
   margin-top: 20px;
   color: #ffffff;
   font-size: 1.2rem;
   font-family: Arial, sans-serif;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   animation: fade 1.5s ease-in-out infinite; /* Yazının yavaşca yanıb-sönmə effekti */
 }
 
 /* Yazının fade animasiyası */
 @keyframes fade {
   0%, 100% {
     opacity: 1;
   }
   50% {
     opacity: 0.5;
   }
 }
 

 /* Media Queries ilə daha uyumlu dizayn */
@media (max-width: 768px) {
  .swiper-card {
    width: 100%;
  }

  .swiper-content {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .swiper-content h3 {
    font-size: 16px;
  }

  .swiper-content .slider_whatch_link a {
    font-size: 14px;
  }

  .swiper_card5 img {
    height: 400px !important;
}
.swiper_card2 img {
  height: 400px !important;
  background-color: transparent;
}
aside{
  top:auto;
  bottom: 0;
  width: 100vw;
  height: 20px;
  padding: 20px 4px 36px 0px;
  z-index: 99999999999999999;
}
.logo{
  display: none;
}
.aside_links{
  flex-direction: row;
  z-index: 99999;
}
}
