:root {
    /* Fonts */
    --PopinsFont: "Poppins", serif;
    --NumansFont: "Numans", serif;
    --RobotoFont: "Roboto", serif;
    --RalewayFont:"Raleway", serif;
    --NunitoFont:"Nunito Sans", serif;
    /*Colors*/
    --BacgrounColorBlack:rgba(0, 0, 0, 1);
    --WhiteGreyColor:rgba(195, 200, 212, 1);
    --PurpleColor:rgba(155, 81, 224, 1);
    --WhiteColor:rgba(255, 255, 255, 1);
    --PlaceholderColor:rgba(71, 80, 105, 1);
    --LightBlackColor:rgba(30, 30, 30, 1);
    --color-create: #4CAF50; 
    --color-delete: #F44336;
    --formBgColor:rgba(23, 22, 22, 1);
    --inputBorderColor:rgba(50, 59, 84, 1);
  }